{
	"root": true,
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"parser": "babel-eslint",
	"extends": [
		"eslint:recommended"
	],
	"rules": {
		"no-unused-vars": "error",
		"no-var": "error",
		"max-len": ["warn", {"code": 115, "tabWidth": 4}],
		"eqeqeq": "warn",
		"no-else-return": "warn",
		"no-empty-function": "warn",
		"no-eval": "error",
		"init-declarations": ["error", "always"],
		"no-use-before-define": "warn",
		"brace-style": ["warn", "1tbs", {"allowSingleLine": true}],
		"camelcase": ["warn", {"properties": "always"}],
		"comma-dangle": ["warn", "always-multiline"],
		"comma-spacing": ["warn", { "before": false, "after": true }],
		"indent": ["warn", "tab"]
	}
}
