@import './modules/fonts';

@import '~normalize.css';

@import './modules/mixin';

html {
	font-size: 16px;

	@include tablet {
		font-size: 15px;
	}
}

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	text-align: center;
}

.text {
	margin-top: 20px;
	font-size: rem(20);
	font-weight: 300;
}
